[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/project_devops
ExecStart=/home/ec2-user/env/bin/gunicorn --access-logfile - --workers 3 --bind unix:/run/gunicorn.sock agency.wsgi:application

[Install]
WantedBy=multi-user.target
